<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= csrf_meta_tag %>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<%= render 'meta' %>

<title><%= title %></title>

<!-- styles -->

<!-- style: CANDY -->
<link href="stylesheets/candy.css" rel="stylesheet" type="text/css" media="all" />


<!--[if lt IE 8]>
<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script>
<![endif]-->

</head>
<body>
<!-- /////////////////////////////////////////this one goes out to all my non-javascript peeps out there. get your script on people. its the two-thousands here ////////////////////////// -->
<noscript>
  <div class="wrapper" id="no-js">
    <div class="javaDouche">
        <strong class="ayo"><br />A yo! Your browser has javascript disabled.</strong><br/>
        This site absolutely <span class="ayo">&hearts;</span> javascript. So, ga'head and turn it back on. Seriously! Before we send goons after you.
        Here are Microsoft's instructions about <a href="http://support.microsoft.com/gp/howtoscript" title="How to enable scripting in your browser">enabling javascript</a>.
        For all my Safari peeps out there, just go to "Preferences", then "Security", and check "Enable Javascript". <br /><br />Now, get your NOM! on.<br /><br />
    </div>
  </div>
</noscript>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


<div class="wrapper everything">


<!-- ============================================== -->	
<!-- !   company name/ logo 	main navigation     -->
<!-- ============================================== -->

<%= render 'menu' %>





<!-- ============================================== -->	
<!-- !   product image tagline and brief quote     -->
<!-- ============================================== -->
<div class="wrapper topSection">
	<div id="topSection">
    
    
    
    	<div class="leftCol">
        	
    	<h2 class="pageTitle"><%= @tag %></h2>
            
        </div><!-- /leftCol -->
        
        
        
        <div class="rightCol">
        
            
        </div><!-- /rightCol -->
        
        
    
    </div><!-- /#topSection -->
</div><!-- END: wrapper.topSection -->



<!-- ============================================== -->	
<!-- !                MID CONTENT                  -->
<!-- ============================================== -->
<div class="wrapper midSection">
	<div id="midSection">
    
    
    	<div class="topNode">
        
            <p>
                <a href="register.html#content" class="bigSignUp">Sign Up</a>
                
                <span>~ or ~</span>
                
                <a href="pricing.html#featureTour" class="bigArrow">Take Tour</a>
                
             </p>
        
        </div><!-- /topNode -->
        
        
        <br class="clearfloat" />
        
        
        <!--  ===============  -->
        <!-- !  main features  -->
        <!--  ===============  -->

<%= render 'mainfeatures' %>
    
    

    </div><!-- /#midSection -->
</div><!-- END: wrapper.midSection -->

<div class="wrapper midSectionBottom"><!-- no content here | bottom ribbon --></div>
<!-- END: wrapper.midSectionBottom -->



<!-- ============================================== -->	
<!-- !                MAIN CONTENT                  -->
<!-- ============================================== -->
<div class="wrapper content" id="featureTour">
	<div id="content">
    



<%= yield %>





<!-- ============================================================================================================================= -->            
            
            
            

        
        <br class="clearfloat" />
        </div><!-- END: mainContent -->
            
       

    
    </div><!-- /#content -->
</div><!-- END: wrapper.content -->




<!-- ============================================== -->	
<!-- !       ....aaaaaand we're done here           -->
<!-- ============================================== -->

<%= render 'footer' %>








</div><!-- END: .everything -->






<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- 
elements inside div with class "hidden" 
are hidden by default until colorboxed up
-->
<%= render 'hidden' %>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->





<!-- ============================================== -->	
<!-- !         tracking and analytics               -->
<!-- ============================================== -->
<%= render 'scripts' %>


</body>
</html>